{% extends "base.html" %}

{% block content %}

    <div class="corpo">
        <div class="textos">
            <div class="p-quemsomos2">
                <h1 class="titulo-quemsomos titulo">Bem-vindo à nossa comunidade de aprendizado de idiomas!</h1>
                <p class="p1-quemsomos p">Somos uma equipe apaixonada por conectar pessoas através do aprendizado de idiomas. Oferecemos cursos de alta qualidade ministrados por instrutores experientes, buscando tornar o aprendizado de idiomas acessível e enriquecedor. Acreditamos que a diversidade linguística amplia horizontes e enriquece vidas. Junte-se a nós nessa jornada multilíngue de descoberta e oportunidades.</p>
                <h1 class="titulo-intercambio titulo">Programas de intercâmbio:</h1>
                <p class="p2-quemsomos p">O programa de intercâmbio da escola de inglês SpeakNow oferece uma imersão completa no idiomas e culturas diversos. Com aulas intensivas, atividades culturais e opções variadas de duração, os alunos têm a chance de aprimorar suas habilidades linguísticas e vivenciar o estilo de vida local. É uma experiência personalizável que busca promover o desenvolvimento linguístico, cultural e pessoal dos participantes.</p>
            </div>
            <div class="container1">
                <div class="textos-quemsomos">
                    <div class="p-quemsomos1">
                        <h1 class="titulo-quemsomos titulo">Bem-vindo à nossa comunidade de aprendizado de idiomas!</h1>
                        <p class="p1-quemsomos p">Somos uma equipe apaixonada por conectar pessoas através do aprendizado de idiomas. Oferecemos cursos de alta qualidade ministrados por instrutores experientes, buscando tornar o aprendizado de idiomas acessível e enriquecedor. Acreditamos que a diversidade linguística amplia horizontes e enriquece vidas. Junte-se a nós nessa jornada multilíngue de descoberta e oportunidades.</p>
                    
                        <h1 class="titulo-intercambio titulo">Programas de intercâmbio:</h1>
                        <p class="p2-quemsomos p">O programa de intercâmbio da escola de inglês SpeakNow oferece uma imersão completa no idiomas e culturas diversos. Com aulas intensivas, atividades culturais e opções variadas de duração, os alunos têm a chance de aprimorar suas habilidades linguísticas e vivenciar o estilo de vida local. É uma experiência personalizável que busca promover o desenvolvimento linguístico, cultural e pessoal dos participantes.</p>
                    </div>
                </div>
                <img srcset="../static/img/classroom2-200.png 200w, ../static/img/classroom2-500.png 500w"
                    sizes="(max-width: 600px) 250px, 120px"
                    class="classroom2" alt="foto minha">
            </div>
        </div>
    
        <div class="container">
            <div class="card" style="width: 18rem;">
                <img srcset="../static/img/london200.png 200w, ../static/img/london200.png 500w"
                sizes="(max-width: 600px) 150px, 196px"
                alt="en" class="card-photo">
                <div  class="card-body">
                
                    <a href="" class="btn btn-primary btn-custom" target="_blank">Londres</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <img srcset="../static/img/chongqing200.png 200w, ../static/img/chongqing500.png 500w"
                sizes="(max-width: 600px) 150px, 196px"
                alt="fr" class="card-photo">
                <div  class="card-body">
                
                    <a href="" class="btn btn-primary btn-custom" target="_blank">Chonggqing</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <img srcset="../static/img/willow-creek200.png 200w, ../static/img/willow-creek500.png 500w"
                sizes="(max-width: 600px) 150px, 196px"
                alt="fr" class="card-photo">
                <div  class="card-body">
                
                    <a href="" class="btn btn-primary btn-custom" target="_blank">Willow Creek</a>
                </div>
            </div>
        </div>
    
    </div>


{% endblock content %}